@mixin loader($theme) {
    .loading-spinner-container {
      position: relative;

      .mat-mdc-progress-spinner {
        position: absolute;
        top: calc(100%/2 - 75px);
        right: calc(100%/2 - 75px);
      }
    }
}